@import url('https://fonts.googleapis.com/css?family=Muli:400,600,900')
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline
  font-family: 'Muli', sans-serif

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
  display: block

body
  line-height: 1
  line-height: 1
  background: #f7faf8
  color: #202121

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after,
q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

.navbar-brand
    position: fixed
    top: 33px
    left: 43px
    z-index: 9999
    svg
        height: 33px
        width: 67px
    
.navbar-menu
    position: fixed
    top: 33px
    right: 43px
    z-index: 9999
    a
        background: pink
        float: left
        font-size: 16px
        padding: 10px 15px
        color: #000000
        text-decoration: none

.home-title
    margin: 120px auto 0 auto
        
.about 
    width: 100%
    max-width: 1500px
    position: relative
    display: block
    margin: 20px auto
    h2,h3
        height: 280px
        width: 280px
        display: block
        clear: both
        z-index: 3
        position: relative
        font-size: 3em
        font-weight: 900
        padding: 50px
        line-height: 4.5rem
        text-align: center
    h2
        background: pink
        float: left
        margin-left: 150px
        margin-top: 50px
    h3
        background: #ff0
        float: right
        margin-right: 150px
        margin-top: 80px
    .one
        width: 930px
        float: right
        clear: both
        height: 500px
        margin-right: 150px
    .two
        width: 930px
        float: left
        clear: both
        margin-left: 150px
        height: 500px
        
.blog
    max-width: 800px
    margin: 0 auto
    border-top: solid 3px #000000
.tile 
    float: left
    width: 100%
    
.pinktitle
    margin: 140px auto 85px
    text-align: center
    font-size: 2rem
    font-weight: 900
    color: #e7899a
    width: 100%
    max-width: 900px
    
.featured-thumbnail
    height: 220px
    width: 220px
    box-shadow: 17px 17px pink

.column
    float: left
    width: 100%
    a
        text-decoration: none
        position: relative
        color: #000000
        padding: 40px 0
        border-bottom: solid 3px #000000
        float: left
        width: 100%
        max-width: 800px
        h3
            font-size: 2.75rem
            margin-left: 30px
            font-weight: 900
            line-height: 120px

        .arrow
            margin-left: 30px 
            opacity: 0
 
        &:hover 
            background: yellow
            .arrow
                opacity: 1
    
    
    
.tippy-tooltip.tomato-theme 
  background-color: tomato
  color: yellow
  padding: 0
  border-radius: 0
  margin-top: -85px
  margin-left: 340px
  box-shadow: 17px 17px pink

.tippy-tooltip.tomato-theme[data-animatefill] 
  background-color: transparent


.tippy-tooltip.tomato-theme .tippy-backdrop 
  background-color: tomato